body { background-color: #dd9d4f; color: #ccc; padding: 20px; margin: 0 auto; font-family: 'Lato', sans-serif; }

h1, h2 { font-size: 24px; font-style: italic; font-weight: 700; text-align: justify; color: #706e6c; margin-left: 5%; }

h2 { font-size: 20px; }

p { padding: 20px 50px; }

.add { padding: 20px; font-style: italic; margin-left: 3%; color: #ccc; }
